<header class="main-header" id="header">
    <div class="container">
            <img src="img/header/logo.png" alt="logo" class="logo-main">
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Top 100</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>